Importing the datasets and libraries.

In [1]:
import pandas as pd

canvas = pd.read_csv('Data/canvas_prepared.csv')
events = pd.read_csv('Data/events_prepared.csv')
inspections = pd.read_csv('Data/inspections_prepared.csv')
solicitations = pd.read_csv('Data/solicitations_prepared.csv')
callings = pd.read_csv('Data/callings_prepared.csv')
canvas = canvas.drop(columns='Unnamed: 0',axis=1)
inspections = inspections.drop(columns='Unnamed: 0',axis=1)
events = events.drop(columns='Unnamed: 0',axis=1)
solicitations = solicitations.drop(columns='Unnamed: 0',axis=1)
callings = callings.drop(columns='Unnamed: 0',axis=1)

Taking a quick look at the datasets and the unique values at the most critical columns, we are doing this to ensure that we don't lose or duplicate information after a merge.

In [2]:
canvas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8090 entries, 0 to 8089
Data columns (total 5 columns):
ID               8090 non-null int64
justification    8090 non-null int64
length           8090 non-null int64
num_points       8090 non-null int64
in_place         8090 non-null int64
dtypes: int64(5)
memory usage: 316.1 KB

In [3]:
canvas['justification'].value_counts()

0    8085
1       5
Name: justification, dtype: int64

In [4]:
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28726 entries, 0 to 28725
Data columns (total 2 columns):
ID       28726 non-null int64
event    28726 non-null int64
dtypes: int64(2)
memory usage: 448.9 KB

In [5]:
events['event'].value_counts()

0    22717
1     6009
Name: event, dtype: int64

In [6]:
inspections.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10696 entries, 0 to 10695
Data columns (total 2 columns):
risk    10696 non-null int64
ID      10696 non-null int64
dtypes: int64(2)
memory usage: 167.2 KB

In [7]:
callings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45975 entries, 0 to 45974
Data columns (total 5 columns):
ID                45975 non-null int64
latitude          45975 non-null float64
longitude         45975 non-null float64
victims           45975 non-null int64
deadly_victims    45975 non-null int64
dtypes: float64(2), int64(3)
memory usage: 1.8 MB

In [8]:
solicitations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46054 entries, 0 to 46053
Data columns (total 5 columns):
ID               46054 non-null int64
description      46054 non-null int64
neighbourhood    46054 non-null object
situation        46054 non-null int64
Date             46054 non-null object
dtypes: int64(3), object(2)
memory usage: 1.4+ MB

In [9]:
solicitations['description'].value_counts()

0    45740
1      314
Name: description, dtype: int64

Merging the datasets.

In [10]:
slidings = solicitations.set_index('ID').join(inspections.set_index('ID')).join(events.set_index('ID')).join(callings.set_index('ID')).join(canvas.set_index('ID'))

In [11]:
slidings.head()

,description,neighbourhood,situation,Date,risk,event,latitude,longitude,victims,deadly_victims,justification,length,num_points,in_place
ID,,,,,,,,,,,,,,
8146602119,0,AFLITOS,1,2019-12-10,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
8146604419,0,AFLITOS,1,2019-12-10,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
8112538919,0,AFLITOS,1,2019-09-17,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
8109426919,0,AFLITOS,1,2019-09-09,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
8077330119,0,AFLITOS,1,2019-06-17,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN

In [12]:
slidings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46054 entries, 8146602119 to 8009016612
Data columns (total 14 columns):
description       46054 non-null int64
neighbourhood     46054 non-null object
situation         46054 non-null int64
Date              46054 non-null object
risk              10696 non-null float64
event             28725 non-null float64
latitude          45974 non-null float64
longitude         45974 non-null float64
victims           45974 non-null float64
deadly_victims    45974 non-null float64
justification     8090 non-null float64
length            8090 non-null float64
num_points        8090 non-null float64
in_place          8090 non-null float64
dtypes: float64(10), int64(2), object(2)
memory usage: 5.9+ MB

In [13]:
slidings['risk'].value_counts()

3.0    4720
0.0    2757
2.0    1878
4.0    1018
1.0     323
Name: risk, dtype: int64

In [14]:
slidings['event'].value_counts()

0.0    22716
1.0     6009
Name: event, dtype: int64

In [15]:
slidings['justification'].value_counts()

0.0    8085
1.0       5
Name: justification, dtype: int64

In [16]:
slidings['description'].value_counts()

0    45740
1      314
Name: description, dtype: int64

Putting back the 'ID' as a column instead of an index.

In [17]:
slidings.reset_index(level=0,inplace=True)

In [18]:
slidings.head()

,ID,description,neighbourhood,situation,Date,risk,event,latitude,longitude,victims,deadly_victims,justification,length,num_points,in_place
0,8146602119,0,AFLITOS,1,2019-12-10,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
1,8146604419,0,AFLITOS,1,2019-12-10,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,8112538919,0,AFLITOS,1,2019-09-17,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
3,8109426919,0,AFLITOS,1,2019-09-09,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,8077330119,0,AFLITOS,1,2019-06-17,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN

Replacing the null values for zeros.

In [19]:
slidings.fillna(0,inplace=True)

slidings.head()

,ID,description,neighbourhood,situation,Date,risk,event,latitude,longitude,victims,deadly_victims,justification,length,num_points,in_place
0,8146602119,0,AFLITOS,1,2019-12-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,8146604419,0,AFLITOS,1,2019-12-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,8112538919,0,AFLITOS,1,2019-09-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,8109426919,0,AFLITOS,1,2019-09-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,8077330119,0,AFLITOS,1,2019-06-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Transforming every 0,1 column to integer type variables.

In [20]:
slidings['risk'] = slidings['risk'].astype(int)
slidings['event'] = slidings['event'].astype(int)
slidings['victims'] = slidings['victims'].astype(int)
slidings['deadly_victims'] = slidings['deadly_victims'].astype(int)
slidings['justification'] = slidings['justification'].astype(int)
slidings['length'] = slidings['length'].astype(int)
slidings['num_points'] = slidings['num_points'].astype(int)
slidings['in_place'] = slidings['in_place'].astype(int)

slidings.head()

,ID,description,neighbourhood,situation,Date,risk,event,latitude,longitude,victims,deadly_victims,justification,length,num_points,in_place
0,8146602119,0,AFLITOS,1,2019-12-10,0,0,0.0,0.0,0,0,0,0,0,0
1,8146604419,0,AFLITOS,1,2019-12-10,0,0,0.0,0.0,0,0,0,0,0,0
2,8112538919,0,AFLITOS,1,2019-09-17,0,0,0.0,0.0,0,0,0,0,0,0
3,8109426919,0,AFLITOS,1,2019-09-09,0,0,0.0,0.0,0,0,0,0,0,0
4,8077330119,0,AFLITOS,1,2019-06-17,0,0,0.0,0.0,0,0,0,0,0,0

In [21]:
slidings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46054 entries, 0 to 46053
Data columns (total 15 columns):
ID                46054 non-null int64
description       46054 non-null int64
neighbourhood     46054 non-null object
situation         46054 non-null int64
Date              46054 non-null object
risk              46054 non-null int32
event             46054 non-null int32
latitude          46054 non-null float64
longitude         46054 non-null float64
victims           46054 non-null int32
deadly_victims    46054 non-null int32
justification     46054 non-null int32
length            46054 non-null int32
num_points        46054 non-null int32
in_place          46054 non-null int32
dtypes: float64(2), int32(8), int64(3), object(2)
memory usage: 3.5+ MB

From this point on we no longer need the ID column so we will drop it.

In [23]:
slidings = slidings.drop(columns='ID',axis=1)
slidings.head()

,description,neighbourhood,situation,Date,risk,event,latitude,longitude,victims,deadly_victims,justification,length,num_points,in_place
0,0,AFLITOS,1,2019-12-10,0,0,0.0,0.0,0,0,0,0,0,0
1,0,AFLITOS,1,2019-12-10,0,0,0.0,0.0,0,0,0,0,0,0
2,0,AFLITOS,1,2019-09-17,0,0,0.0,0.0,0,0,0,0,0,0
3,0,AFLITOS,1,2019-09-09,0,0,0.0,0.0,0,0,0,0,0,0
4,0,AFLITOS,1,2019-06-17,0,0,0.0,0.0,0,0,0,0,0,0

In [24]:
slidings.to_csv(path_or_buf='slidings_merged.csv')